{{>header}}
<link rel="stylesheet" href="/css/styles.css">
<body class="text-center">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/xx.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> ЕЯЯОЯ</h5>
    <p class="card-text">No Need to Know about just always try to get  ЕЯЯОЯ-200 while devloping .</p>
    <a href="/" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</body>


{{>footer}}
