{{>header}}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sorry Can't Help You </h1>
    <p class="lead">Go and try to contribute something .</p>
  </div>
</div>


{{>footer}}
