{{>header}}


<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple weather forecast website, Made for fun just using 2 Api calls at a time.</p>
  <hr class="my-4">
  <p>It uses forward geocoding to convert location into latitude and longitude to fetch weather.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Get Weather</a>
  </p>
</div>


{{>footer}}
